@charset "UTF-8";


body {
  background: #e0e0e0;
}

/*** ヘッダー ***/

a[href="/"] {
  text-decoration: none;
}

a[href="/"] > header {
  background: rgb(255,191,0);
  color: #fff;
  width: 1280px;
  height: 60px;
  line-height: 40px;
  text-align: center;
  padding: 10px 400px;
  font-size: 32px;
}

a[href="/"] > header:hover {
  transition: .7s;
  opacity: 0.5;
  cursor: pointer;
}

/*** コンテンツ ***/
div.container {
  margin: 100px auto 0;
  width: 400px;
  height: 230px;
  border-radius: 10px;
  background: #fff;
}

div.container > p{
  font-size: 30px;
  margin-top: 57px;
}
