@(id: Long, ticketForm: Form[Ticket])

@import helper._

 @implicitFieldConstructor = @{ FieldConstructor(RevisedFormElement.render) }  

@main("チケット編集画面") {
    
    <h1>Edit ticket</h1>
    
    @form(routes.Admin.update(id)) {
        
        <fieldset>
        
            @inputText(ticketForm("name"), '_label -> "Ticket name")
            @inputText(ticketForm("introduced"), '_label -> "Introduced date")
            @inputText(ticketForm("discontinued"), '_label -> "Discontinued date")
            
            @select(
                ticketForm("company.id"), 
                options(Company.options), 
                '_label -> "Company", '_default -> "-- Choose a company --",
                '_showConstraints -> false
            )
        
        </fieldset>
        
        <div>
            <input type="submit" value="Update this ticket" class="btn btn-primary"> or 
            <a href="@routes.Admin.manage()" class="btn btn-success">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Admin.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this ticket" class="btn btn-danger">
    }
    
}
