@(ticketName: String, category: String, price: Integer, introduced: Date, discontinued: Date, ticketID: Long)

@main("個別商品画面"){
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/individualGoods.css")">
	
	<header>
	  <a href="/" id="logo">DonkeyQueen</a>
	</header>
	
	<main>
	
		<p>チケット情報</p>
	
		<table class="table table-striped table-bordered table-hover table-condensed">
			<tr><td>チケット名</td><td>@ticketName</td></tr>
			<tr><td>カテゴリー</td><td>@category</td></tr>
			<tr><td>価格</td><td>¥ @price</td></tr>
			<tr><td>販売開始日</td><td>@introduced</td></tr>
			<tr><td>販売終了日</td><td>@discontinued</td></tr>
		</table>	
	
		@* <a href="/login" id="button">購入画面へ進む</a> *@
		
		@helper.form(action = routes.Application.login){
			<input type="hidden" name="ticketID" value="@ticketID">
			<input type="submit" value="購入画面へ進む">
		}
		
		
	
	</main>
	
	<footer>
		<div class="footerMenu">
          <ul>
            <li><a href="/rarara">会社情報</a></li>
            <li><a href="#">採用情報</a></li>
            <li><a href="#">利用規約</a></li>
            <li><a href="#">プライバシー規約</a></li>
          </ul>
        </div>
        
        <div class="footerMenuOneLine">
          Copyright <i class="fa fa-copyright" aria-hidden="true"></i> DonkeyQueen Inc. All Rights Reserved.
        </div>
	</footer>

}