@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="ja">
    <head>
        <title>@title</title>
    
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/reset.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-2.2.4.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        
    </head>
    <body>
        @content
    </body>
</html>