@(message: String, form1: Form[models.User])

@main("Register Form") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/register.css")">
	
	<a href="/">
	  <header>
		  <p>@message</p>
      </header>
	</a>
	
	<div class="registerForm">
	
	@helper.form(action = routes.Application.userCreate){
		
			<div class="inputWrapper">
			@(helper.inputText (
				field = form1("name"),
				'_label -> "*ユーザ名"
			))
			</div>
			
			<div class="inputWrapper">
			@(helper.inputText (
				field = form1("password"),
				'_label -> "*パスワード"
			))
			</div>
			
			<p><input type="submit" value="送信"></p>
		
	
	}
	</div>
	

	

}
